.Cockpit h1 {
    color:purple;
}

.Cockpit button {
    padding: 15px;
    margin:10px 0;
    border:none;
    background-color: cadetblue;
}

.Cockpit button:hover {
    background-color: darkcyan;
}

.Cockpit .Red {
    background-color: crimson;
}