.Button {
    padding: 10px;
    margin-right: 5px;
    border: none;
    color: white;
    cursor: pointer;
}

.Success {
    background-color: rgb(18, 165, 55);
}

.Danger {
    background-color: rgb(194, 0, 0);
}